.navbar {
  border-bottom: 3px solid #aec6cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}
.leftSide {
  flex: 1;
}
.middleSide {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: -124px;
}

.rightSide {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.menu.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  list-style: none;
  margin: 0;
  width: 300px;
}

.menu.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

.menu.dropdown li:hover {
  background-color: #f1f1f1;
}
